{% load markdown_extras %}
{% component "navbar_layout" %}
<div class="container max-w-prose mx-auto">
    {% component "card" %}
		{% if article.video %}
			{% fill "figure" %}
				<video controls>
					<source src="{{article.video.file}}" type="video/mp4">
					 Your browser does not support the video tag.
				</video>
			{% endfill %}
		{% endif %}
        {% fill "title" %}
            {{ article.title }}
        {% endfill %}

		{% fill "subtitle" %}
			<div class="join">
				{% for tag in article.tags.all %}
					<div class='badge join-item badge-neutral badge-outline tooltip' data-tip="{{tag.description|truncatechars:256}}">
						{{tag.name}}
					</div>
				{% endfor %}
			</div>
			<br>
			{% for link in article.based_on.get_links %}
				Source: {% component "link" href=link title=article.based_on.name %}{% endcomponent %}
			{% endfor %}
		{% endfill %}

        {% fill "default" %}
            {% if article.lead_paragraph|length > 0 %}
                <p>{{ article.lead_paragraph|convert_markdown }}</p>
            {% endif %}
        {% endfill %}
    {% endcomponent %}
</div>
{% endcomponent %}
