{% load markdown_extras %}
{% component "navbar_layout" %}
    {% component "card" %}
        {% fill "title" %}
            {{ article.title|convert_markdown }}
        {% endfill %}
        {% fill "default" %}
            {% if article.lead_paragraph|length > 0 %}
                {% component "collapsible" title="Introduction" %}
                    {% fill "content" %}
                        <p>{{ article.lead_paragraph|convert_markdown }}</p>
                    {% endfill %}
                {% endcomponent %}
            {% endif %}
            {% if article.background_context|length > 0 %}
                {% component "collapsible" title="Background Context" %}
                    {% fill "content" %}
                        <p>{{ article.background_context|convert_markdown }}</p>
                    {% endfill %}
                {% endcomponent %}
            {% endif %}
            {% if article.research_direction|length > 0 %}
                {% component "collapsible" title="Research Direction" %}
                    {% fill "content" %}
                        <p>{{ article.research_direction|convert_markdown }}</p>
                    {% endfill %}
                {% endcomponent %}
            {% endif %}
            {% if article.simplified_methods|length > 0 %}
                {% component "collapsible" title="Simplified Methods" %}
                    {% fill "content" %}
                        <p>{{ article.simplified_methods|convert_markdown }}</p>
                    {% endfill %}
                {% endcomponent %}
            {% endif %}
            {% if article.core_findings|length > 0 %}
                {% component "collapsible" title="Core Findings" %}
                    {% fill "content" %}
                        <p>{{ article.core_findings|convert_markdown }}</p>
                    {% endfill %}
                {% endcomponent %}
            {% endif %}
            {% if article.surprise_findings|length > 0 %}
                {% component "collapsible" title="Surprise Findings" %}
                    {% fill "content" %}
                        <p>{{ article.surprise_findings|convert_markdown }}</p>
                    {% endfill %}
                {% endcomponent %}
            {% endif %}
            {% if article.future_implications|length > 0 %}
                {% component "collapsible" title="Future Implications" %}
                    {% fill "content" %}
                        <p>{{ article.future_implications|convert_markdown }}</p>
                    {% endfill %}
                {% endcomponent %}
            {% endif %}
            {% if article.study_limitations|length > 0 %}
                {% component "collapsible" title="Study Limitations" %}
                    {% fill "content" %}
                        <p>{{ article.study_limitations|convert_markdown }}</p>
                    {% endfill %}
                {% endcomponent %}
            {% endif %}
            {% if article.next_steps|length > 0 %}
                {% component "collapsible" title="Next Steps" %}
                    {% fill "content" %}
                        <p>{{ article.next_steps|convert_markdown }}</p>
                    {% endfill %}
                {% endcomponent %}
            {% endif %}
        {% endfill %}
    {% endcomponent %}
{% endcomponent %}
