{% load url_extras %}
<a href="{{ href }}" target="_blank" rel="noopener noreferrer"
	class="flex items-center inline hover:text-blue-800 transition-colors duration-150 group">

	<img src="{{href|favicon}}" alt="{{title}} favicon" class="w-4 h-4 mr-2 rounded-sm shadow-sm inline flex-shrink-0 
                        transition-transform duration-200 group-hover:scale-105"
		onerror="this.onerror=null;this.style.display='none';">
	{% if title|length > 63 %}
		<span>{{title|truncatechars:63}}</span>
	{% else %}
		<span>{{title}}</span>
	{% endif %}
</a>
