<div class="card p-4 my-2 pb-0 {% if component_vars.slots.figure %}flex-col lg:flex-row {% endif %} {{ class }}"
   {% html_attrs attrs %}>
	
    {% if component_vars.slots.figure %}
  <figure class="mr-2">
    {% slot "figure" / %}
  </figure>
	<div>
    {% endif %}
    {% if component_vars.slots.title %}
        <h2 class="card-title mb-2">{% slot "title" / %}</h2>
    {% endif %}

    {% if component_vars.slots.subtitle %}
		<p class="text-xs opacity-60">{% slot "subtitle" / %}</p>
    {% endif %}

    <div class="card-body px-0 py-2">{% slot "default" / %}</div>
    {% if component_vars.slots.actions %}
        <div class="w-full flex justify-between card-actions">{% slot "actions" / %}</div>
    {% endif %}

    {% if component_vars.slots.footer %}
        <div class="border-t">
			{% slot "footer" / %}
		</div>
    {% endif %}
	
    {% if component_vars.slots.figure %}

		</div>
    {% endif %}
</div>
