{% component "base_layout" %}
<div class="navbar bg-base-100 shadow-sm">
	<div class="flex-1">
		<a class="btn btn-ghost text-xl">ReSummarized</a>
		<label class="input">
			{% heroicon_mini "magnifying-glass" %}
			<input type="search" class="grow" placeholder="Search" />
		</label>
	</div>
	<div class="flex-none">
		{% if user %}
			{% heroicon_mini "user-circle" %}
		{% else %}
		<div class="dropdown dropdown-end">
			<div tabindex="0" role="button" class="btn btn-ghost rounded-field">Login</div>
			<div tabindex="-1" class="menu dropdown-content bg-base-200 rounded-box z-1 w-52 p-2 shadow-sm">
				@components.Login()
			</div>
		</div>
		{% endif %}

	</div>
</div>
<div class="m-2">
	{% slot "default" / %}
</div>
{% endcomponent %}
