{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
    <div id="content-main">
        <h2>Long-Running Task Progress</h2>
        <div id="progress-container">
            <progress id="progress-bar" value="0" max="100" style="width: 100%;"></progress>
            <p id="progress-bar-message">Task initiated...</p>
        </div>
        {% if task_id %}
            <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
            <script>
			document.addEventListener("DOMContentLoaded", function () {
                const progressUrl = "{% url 'celery_progress:task_status' '0' %}".replace('0', "{{ task_id }}");

				const a = new CeleryProgressBar(progressUrl,{
                    progressBarId: 'progress-bar',
                    progressBarMessageId: 'progress-bar-message',
                    onSuccess: function(result, status) {
                        document.getElementById('progress-bar-message').append("✅ ", result.final_message);
                        setTimeout(function() {
                            window.location.href = "{% url 'admin:articles_source_changelist' %}";
                        }, 2000);
                    },
                    onError: function(result, error) {
                        document.getElementById('progress-bar-message').append("❌ ERROR: ", status);
                    }
                });
				a.connect();
			});
            </script>
        {% endif %}
    </div>
{% endblock %}
