{% load markdown_extras %}
<a class="hover:bg-neutral-200" href="{% url 'article' article.id %}" {% html_attrs attrs%}>
	{% component "card" %}
	{% fill "title" %}
	{{ article.title|convert_markdown }}
	{% endfill %}
	{% fill "default" %}
	<p>{{ article.lead_paragraph|slice:":200"|convert_markdown }} ...</p>
	{% endfill %}
	{% fill "actions" %}
		<p>{{ article.created_at }}</p>
		{% if user.is_authenticated %}
			<span id="pin-button-{{ article.id }}">
				{% include '_pin_button.html' with article=article is_pinned=is_pinned %}
			</span>
		{% endif %}
	{% endfill %}
	{% endcomponent %}
</a>
