name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Docker Setup Docker
      uses: docker/setup-docker-action@v4.5.0
    - name: Setup Node.js environment
      uses: actions/setup-node@v6.0.0

    - name: Update env
      run: sudo apt update -y && sudo apt upgrade -y
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: ./build_docker.sh
